[Unit]
Description=boringproxy client (%I)
After=network.target

[Service]
PrivateTmp=true
Type=simple
User=boringproxy
Group=boringproxy
WorkingDirectory=/opt/boringproxy/
ExecStart=/usr/local/bin/boringproxy client -server bp.example.com -token your-bp-server-token -client-name %i

[Install]
WantedBy=multi-user.target