[Unit]
Description=boringproxy Admin Server
After=network.target

[Service]
PrivateTmp=true
Type=simple
User=boringproxy
Group=boringproxy
WorkingDirectory=/home/boringproxy/
ExecStart=/usr/local/bin/boringproxy server \
	-admin-domain bp.example.com

[Install]
WantedBy=multi-user.target
