<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>boringproxy</title>

<link rel="icon" href="/logo.png">

<style>
  {{ template "styles.tmpl" }}
</style>
