<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; URL='{{$.TargetUrl}}'" />

    <style>
      {{ template "styles.tmpl" }}
      .dialog {
        display: block;
      }
    </style>
  </head>

  <body>
    <div class='dialog'>
      <div class='dialog__overlay'></div>
      <div class='dialog__content'>
        <p>
          Loading...
        </p>
      </div>
    </div>
  </body>
</html>
