<!doctype html>
<html>
  <head>
    <style>
      {{ template "styles.tmpl" }}
      .dialog {
        display: block;
      }
    </style>
  </head>

  <body>
    <div class='dialog'>
      <div class='dialog__overlay'></div>
      <form class='dialog__content' action="/login" method="GET">
         <label for="token">Token:</label>
         <input type="password" id="token" name="access_token">
         <button class='button green-button' type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
