{{ template "header.tmpl" . }}

<div class='tn-attribute'>
  <div class='tn-attribute__name'>Domain:</div>
  <div class='tn-attribute__value'>{{$.Tunnel.Domain}}</div>
</div>
<div class='tn-attribute'>
  <div class='tn-attribute__name'>Owner:</div>
  <div class='tn-attribute__value'>{{$.Tunnel.Owner}}</div>
</div>
<div class='tn-attribute'>
  <div class='tn-attribute__name'>Client:</div>
  <div class='tn-attribute__value'>{{$.Tunnel.ClientName}}</div>
</div>
<div class='tn-attribute'>
  <div class='tn-attribute__name'>Target:</div>
  <div class='tn-attribute__value'>{{$.Tunnel.ClientAddress}}:{{$.Tunnel.ClientPort}}</div>
</div>

<div class='button-row'>
  <a class='button' href="/tunnel-private-key?domain={{$.Tunnel.Domain}}">Download Private Key</a>
  <a class='button' href="/confirm-delete-tunnel?domain={{$.Tunnel.Domain}}">Delete</a>
</div>

{{ template "footer.tmpl" . }}
