<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>boringproxy</title>

<link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACwAAAAAAQABAAACASgAOw==">

<style>
  {{.Styles}}
</style>

