<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>boringproxy</title>

    <link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACwAAAAAAQABAAACASgAOw==">

    <style>
      body {
        font-family: Helvetica;
        display: flex;
        justify-content: center;
      }

      main {
        max-width: 900px;
      }

      .button {
        background: #ccc;
        border: none;
        border-radius: .25em;
        padding: .4em .8em;
        cursor: pointer;
      }

      .add-button {
        background: #4CAF50;
        color: #fff;
      }

      .delete-button {
        background: #f44336;
        color: #fff;
      }

      .tunnel-list {
        display: flex;
        flex-direction: column;
      }

      .tunnel {
        padding: 5px;
        border-bottom: 1px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .tunnel:hover {
        background-color: #ddd;
      }

      .tunnel-adder {
        padding: 5px;
      }

    </style>

  </head>

  <body>
    <main>
      <div class='tunnel-list'>
        {{range $domain, $tunnel:= .}}
        <div class='tunnel'>
          <div>
            <a href="https://{{$domain}}">{{$domain}}</a>:{{$tunnel.TunnelPort}} -> {{$tunnel.ClientName}}:{{$tunnel.ClientPort}}
          </div>
          <a href="/delete-tunnel?host={{$domain}}">
            <button class='button delete-button'>Delete</button>
          </a>
        </div>
        {{end}}
        
        <div class='tunnel-adder'>
          <form action="/tunnels" method="POST">
             <label for="domain">Domain:</label>
             <input type="text" id="domain" name="domain">
             <label for="client-name">Client Name:</label>
             <input type="text" id="client-name" name="client-name">
             <label for="client-port">Client Port:</label>
             <input type="text" id="client-port" name="client-port">
             <button class='button add-button' type="submit">Add/Update Tunnel</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
