<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; URL='{{$.TargetUrl}}'" />
    {{.Head}}
  </head>

  <body>
    <main>
      <div class='dialog'>
        <p>
          Loading...
        </p>
      </div>
    </main>
  </body>
</html>
