<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>boringproxy</title>

    <link rel="icon" href="data:image/gif;base64,R0lGODlhEAAQAAAAACwAAAAAAQABAAACASgAOw==">

    <style>
      {{.Styles}}

      button {
        display: block;
      }
    </style>

  </head>

  <body>
    <form class='dialog' action="/login" method="GET">
       <label for="token">Token:</label>
       <input type="password" id="token" name="token">
       <button class='button green-button' type="submit">Login</button>
    </form>
  </body>
</html>
