<!doctype html>
<html>
  <head>
    {{.Head}}
  </head>

  <body>
    <form class='dialog' action="/login" method="POST">
       <label for="token">Token:</label>
       <input type="password" id="token" name="token">
       <button class='button green-button' type="submit">Login</button>
    </form>
  </body>
</html>
