<label id='menu-label' for='menu-toggle'>Menu</label>
<input type='checkbox' id='menu-toggle'/>
<div class='menu'>
  <a class='menu-item' href='/tunnels'>Tunnels</a>
  <a class='menu-item' href='/tokens'>Tokens</a>
  {{if .IsAdmin}}
  <a class='menu-item' href='/users'>Users</a>
  {{end}}
</div>
