:root {
  --main-color: #555555;
  --background-color: #fff;
  --hover-color: #ddd;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
}

main {
  max-width: 900px;
}

#menu-label {
  color: var(--background-color);
  background: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  display: block;
  /*width: 100%;*/
  border: 2px solid var(--main-color);
  cursor: pointer;
  padding: .7em;
  user-select: none;
}
#menu-label:hover {
  color: var(--main-color);
  background: var(--background-color);
  border: 2px solid var(--main-color);
}

.menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background: #fff;
  border: 1px solid var(--main-color);
  /*min-width: 256px;*/
}

.menu-item {
  font-weight: bold;
  border-bottom: 1px solid var(--main-color);
  padding: .7em 2em;
  text-decoration: none;
}
.menu-item:hover {
  background: var(--hover-color);
}
.menu-item:any-link {
  color: var(--main-color);
}
.active-tab.menu-item:any-link {
  color: #fff;
}
.active-tab.menu-item {
  background: var(--main-color);
}


.toggle {
  display: none;
}

#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .page .menu {
  display: flex;
}
#menu-toggle:checked ~ #menu-label {
}

.content {
  border: 1px solid var(--main-color);
}

.button {
  padding: .5em 1em;
  margin: 5px;
  border: 2px solid var(--main-color);
  border-radius: .5em;
  color: #fff;
  background-color: var(--main-color);
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-family: -system-ui, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  white-space: nowrap;
}

.button:hover {
  color: #555555;
  background-color: #fff;
  border: 2px solid var(--main-color);
}

.button-row {
  display: flex;
  justify-content: center;
}

.dialog {
  margin: 20px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid black;
}

.list {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 5px;
  border-bottom: 1px solid var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tunnel:hover {
  background: var(--hover-color);
}

.tunnel-adder {
  padding: 5px;
}

.token {
  font-family: Monospace;
}

.page {
  display: none;
  flex-direction: column;
}

.qr-code {
  width: 8em;
  height: 8em;
}

main *:target {
  display: flex;
}

.confirm-dialog {
  display: none;
}
.confirm-dialog__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}
.confirm-dialog__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 1em;
  border: 1px solid #ccc;
  z-index: 1010;
}

{{range $domain, $tunnel:= .Tunnels}}
#toggle-tunnel-delete-dialog-{{$tunnel.CssId}} {
  display: none;
}
#toggle-tunnel-delete-dialog-{{$tunnel.CssId}}:checked + .confirm-dialog {
  display: block;
}

#toggle-tunnel-hide-deleted-{{$tunnel.CssId}}:checked + .list-item {
  /* This is a trick to make the delete request after the delete button is
   * clicked. The background will never actually be displayed, because it's
   * moved offscreen. */
  position: absolute;
  left: -999em;
  background: url("/delete-tunnel?domain={{$domain}}");
}
#toggle-tunnel-hide-deleted-{{$tunnel.CssId}}:checked ~ .confirm-dialog {
  display: none;
}
{{end}}

@media (min-width: 900px) {

  main {
    display: flex;
    justify-content: flex-start;
  }

  #menu-label {
    display: none;
  }

  .menu {
    display: flex;
    position: static;
  }

  .page {
    flex-direction: row;
  }

  .content {
    width: 900px;
  }
}
