<!doctype html>
<html>
  <head>
    {{.Head}}
  </head>

  <body>
    <main>
      {{.Menu}}
      <div class='list'>
        {{range $token, $tokenData := .Tokens}}
        <div class='list-item'>
          <span class='token'>{{$token}}</span> ({{$tokenData.Owner}})
          <a href="/confirm-delete-token?token={{$token}}">
            <button class='button red-button'>Delete</button>
          </a>
        </div>
        {{end}}
      </div>
      <div class='token-adder'>
        <form action="/tokens" method="POST">
           <label for="owner">Owner:</label>
           <select id="owner" name="owner">
             {{range $username, $user := .Users}}
             <option value="{{$username}}">{{$username}}</option>
             {{end}}
           </select>
           <button class='button green-button' type="submit">Add Token</button>
        </form>
      </div>
    </main>
  </body>
</html>
