<!doctype html>
<html>
  <head>
    {{.Head}}
  </head>

  <body>
    <main>
      {{.Menu}}
      <div class='list'>
        {{range $username, $user := .Users}}
        <div class='list-item'>
          {{$username}}
          <a href="/confirm-delete-user?username={{$username}}">
            <button class='button red-button'>Delete</button>
          </a>
        </div>
        {{end}}
      </div>
      <div class='user-adder'>
        <form action="/users" method="POST">
           <label for="username">Username:</label>
           <input type="text" id="username" name="username">
           <label for="is-admin">Is Admin:</label>
           <input type="checkbox" id="is-admin" name="is-admin">
           <button class='button green-button' type="submit">Add User</button>
        </form>
      </div>
    </main>
  </body>
</html>
